In [21]:
import pandas as pd

# Reading Data

In [22]:
df = pd.read_csv('data.csv')

In [23]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  102.000000         1   11          1          -1              1
1  101.847140         1   91          0           1              1
2  100.974112         1   41          1          -1              1
3   98.825116         0   63          1          -1              0
4   99.179708         0   80          1           1              1

In [24]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2304   98.995439         0   49          0          -1              1
2305  101.635399         0   85          1          -1              0
2306  101.232937         0   82          1           0              0
2307  101.009433         0   38          1          -1              0
2308  101.537728         0   74          1           1              1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2309 entries, 0 to 2308
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2309 non-null   float64
 1   bodyPain       2309 non-null   int64
 2   age            2309 non-null   int64
 3   runnyNose      2309 non-null   int64
 4   diffBreath     2309 non-null   int64
 5   infectionProb  2309 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 108.4 KB

In [26]:
df['diffBreath'].value_counts()

 0    805
-1    770
 1    734
Name: diffBreath, dtype: int64

In [27]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2309.000000,2309.000000,2309.000000,2309.000000,2309.000000,2309.000000
mean,100.000507,0.491988,50.944565,0.500217,-0.015591,0.508878
std,1.150472,0.500044,29.478768,0.500108,0.807096,0.500029
min,98.000885,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.990709,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.996195,0.000000,52.000000,1.000000,0.000000,1.000000
75%,101.016479,1.000000,77.000000,1.000000,1.000000,1.000000
max,102.000000,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Spliting

In [28]:
import numpy as np

In [29]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[: test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [30]:
np.random.permutation(7)

array([0, 4, 2, 3, 1, 6, 5])

In [31]:
train , test = data_split(df, 0.2)

In [32]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1165   99.400581         1   88          1           1              0
651    99.894719         1   21          1           1              0
867    98.551445         0   58          1           1              1
1178  101.191772         0   51          0           1              1
360    98.188534         0   64          1           1              1
...          ...       ...  ...        ...         ...            ...
1638  100.203898         0    7          1           0              1
1095  100.451645         1   76          1          -1              1
1130  100.252453         0    5          0           0              0
1294   99.855104         0   57          0          -1              0
860   100.810002         0   44          0          -1              1

[1848 rows x 6 columns]

In [33]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1954  101.331308         1    1          0           1              0
509   100.854095         0   14          0           1              0
1410  101.028062         0   23          1          -1              0
44    101.305865         1   99          1           0              0
1583   98.715046         1   19          0           0              1
...          ...       ...  ...        ...         ...            ...
1514  101.672911         1   39          1           1              1
1797   99.582392         1   60          0           1              1
2197   99.801268         1   39          0          -1              0
1817   99.869914         0   73          1          -1              0
906   100.377463         0   98          1           1              1

[461 rows x 6 columns]

In [34]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [35]:
Y_train = train[['infectionProb']].to_numpy().reshape(1848 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(461 ,)

In [36]:
Y_train

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [39]:
inputFeatures = [103,1,72,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [40]:
infProb

0.5029296013996601